*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #cba3e5;
    position: relative;
}

body {
    background-color: #eef4dd;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container img{
    width: 250px;
    display: table-cell;
    vertical-align: middle;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation{
    height: 100%;
    display: table;
    float: right;
    list-style: none;
}

.navigation li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 0px 20px;
    color: #534340;
    font-family: 'rubik';
    font-size: 16px;
}

.navigation li:last-child{
    padding-right: 0px;
}

.navigation a:visited, .navigation a:hover, .navigation a:active, .navigation a:link{
    text-decoration: none;
    color: #534340;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.p1 {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Montserrat';
}
.p1contenu {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#premier {
    text-align: left;
}
.p1contenu img {
    width: 100px;
}

.text1 {
    padding-left: 20px;
}

.p2 {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Montserrat';
}
.p2contenu {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px
}

#deuxieme {
    text-align: right;
}
.p2contenu img {
    width: 100px;
}
