*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #b18ccd;
    position: relative;
}

body {
    background-color: #faf0ff;
    min-width: 1400px;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container img{
    width: 250px;
    display: table-cell;
    vertical-align: middle;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation{
    height: 100%;
    display: table;
    float: right;
    list-style: none;
}

.navigation li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 0px 20px;
    color: white;
    font-family: 'rubik';
    font-size: 16px;
}

.navigation li:last-child{
    padding-right: 0px;
}

.navigation a:visited, .navigation a:hover, .navigation a:active, .navigation a:link{
    text-decoration: none;
    color: white;
}

.slogan {
    background-image: url(./ressources/slogan_fond.png);
    background-repeat: repeat;
    display: inline-block;
    position: relative;
    height: 550px;
    width: 100%;
    margin: 0 auto;
}

.slogan #slogan_img{
    position: absolute;
    left: 50%;
    height: 550px;
    width: 1100px;
    margin-left: -550px;
}

.tableau {
    width: 100%;
    min-width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.tableau ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1100px;
    min-height: 190px;
    margin: 60px auto 60px;
    padding: 0;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 10px;
}

.tableau li {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
    border-right: 2px solid #c3c9cb;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.tableau #cont6 {
    border-right: none;
}

.tableau p:first-child {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 5%;
}

.applicateur {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    background-color: white;
    font-family: 'Montserrat';
    text-align: left;
    justify-content: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url(./ressources/picture_as_pdf_FILL0_wght400_GRAD0_opsz48.svg);
    background-color: #eef4dd;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: left;
    background-position-y: center;
    background-attachment: local;
}

.applicateur a:visited, .applicateur a:hover, .applicateur a:active, .applicateur a:link {
    text-decoration: none;
    color: black;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    margin-top: 20px;
}

.footer_content{
    display: flex;
    padding: 30px 0;
}

.footer_coo, .footer_mail{
    padding-right: 40px;
}

footer .footer_title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .673px;
    margin-bottom: 15px;
}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}

footer .footer_rs a:not(:last-child){
    margin-right: 30px;
}

.custom-slider { display: none; }

.slide-container {
    background-image: url(./ressources/slogan_fond.png);
    background-repeat: repeat;
    display: inline-block;
    position: relative;
    height: 550px;
    width: 100%;
    margin: 0 auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;        
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}
.prev{ 
    left: 15px; 
    background-color: #eef4dd;
}
.next { 
    right: 15px; 
    background-color: #eef4dd;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}
.slide-text {
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.slide-index {
  color: #ffffff;
  font-size: 13px;
  padding: 15px;
  position: absolute;
  top: 0;
}

.slide-img{ 
    position: absolute;
    top: 100px;
    height: 350px;
    left: 50%;
    margin-left: -520px;
}

.slide-img2{ 
    position: absolute;
    height: 550px;
    left: 50%;
    margin-left: -550px;
}
 
.slide-dot{ 
    position: relative;
    text-align: center;
    top: 530px;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}