*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #b18ccd;
    position: relative;
}

body {
    background-color: #faf0ff;
    min-width: 1400px;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container img{
    width: 250px;
    display: table-cell;
    vertical-align: middle;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation{
    height: 100%;
    display: table;
    float: right;
    list-style: none;
}

.navigation li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 0px 20px;
    color: white;
    font-family: 'rubik';
    font-size: 16px;
}

.navigation li:last-child{
    padding-right: 0px;
}

.navigation a:visited, .navigation a:hover, .navigation a:active, .navigation a:link{
    text-decoration: none;
    color: white;
}

.slogan {
    background-image: url(./ressources/slogan_fond.png);
    background-repeat: repeat;
    display: inline-block;
    position: relative;
    height: 550px;
    width: 100%;
    margin: 0 auto;
}

.slogan #slogan_img{
    position: absolute;
    left: 50%;
    height: 550px;
    width: 1100px;
    margin-left: -500px;
}

.tableau {
    width: 100%;
    min-width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.tableau ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1100px;
    min-height: 190px;
    margin: 60px auto 60px;
    padding: 0;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 10px;
}

.tableau li {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
    border-right: 2px solid #c3c9cb;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.tableau #cont6 {
    border-right: none;
}

.tableau p:first-child {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 5%;
}
.content2{
    margin-top: 20px;
}

.contenant {
        background-image: url(./ressources/slogan_fond.png);
        background-repeat: repeat;
        display: inline-block;
        position: relative;
        height: 550px;
        width: 100%;
        margin: 0 auto;
}

.contenant #contenant_img{
    position: absolute;
    left: 50%;
    top: 90px;
    height: 350px;
    width: 1000px;
    margin-left: -500px;
}

.content3{
    margin-top: 20px;
}

.contenant2 {
        background-image: url(./ressources/slogan_fond.png);
        background-repeat: repeat;
        display: inline-block;
        position: relative;
        height: 550px;
        width: 100%;
        margin: 0 auto;
}

.contenant2 #contenant_img2{
    position: absolute;
    left: 50%;
    top: 20px;
    width: 1000px;
    margin-left: -500px;
}

.content4{
    margin-top: 20px;
}

.contenant3 {
        background-image: url(./ressources/slogan_fond.png);
        background-repeat: repeat;
        display: inline-block;
        position: relative;
        height: 550px;
        width: 100%;
        margin: 0 auto;
}

.contenant3 #contenant_img3{
    position: absolute;
    left: 50%;
    top: 20px;
    width: 1000px;
    margin-left: -500px;
}


.applicateur {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    background-color: white;
    font-family: 'Montserrat';
    text-align: left;
    justify-content: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url(./ressources/picture_as_pdf_FILL0_wght400_GRAD0_opsz48.svg);
    background-color: #eef4dd;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: left;
    background-position-y: center;
    background-attachment: local;
}

.applicateur a:visited, .applicateur a:hover, .applicateur a:active, .applicateur a:link {
    text-decoration: none;
    color: black;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}

.footer_content{
    display: flex;
    padding: 30px 0;
}

.footer_coo, .footer_mail{
    padding-right: 40px;
}

footer .footer_title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .673px;
    margin-bottom: 15px;
    text-align: center;
}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}

footer .footer_rs a:not(:last-child){
    margin-right: 30px;
}